.gis-portal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}




.header-bar {
  /* background-color: #333333; */
  background-color: #3f478d;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px 40px;
  align-items: center;
  font-size: 13px;
}




.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.header-text{
  margin: auto;
  text-align: center;
}

.header-text h2 {
  margin: 0;
  transform: translateX(-50%);
  font-weight: bold;
  text-align: center;
}

.header-text span {
  display: block;
  font-size: 12px;
}

.header-right-logo {
  height: 40px;
}





.page-title {
  background-color: #f8b400;
  color: #000;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-weight: 700;
  position: relative;
  margin-top: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.page-title h1 {
  margin: 0;
  font-size: 22px;
}






.tab-switcher {
  margin: 20px 0;
}





.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}






.state-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 25px;
  padding: 60px 40px ;
  width: 100%;
  max-width: 1200px;
  min-height: 70vh;
  justify-items: center;
}







.state-card {
  width: 260px;
  height: 260px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  box-sizing: border-box;
}

.state-card:hover {
  transform: translateY(-5px);
}

.state-img-wpr {
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.state-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* margin-top: 15px; */
}

.state-name {
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
}






/* FOOTER /////////////////////////////////////////// */

.footer-bar {
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-top: 1px solid #eee;
  font-size: 13px;
  color: #333;
}

.footer-bar a {
  color: #007bff;
  text-decoration: none;
}

.footer-bar a:hover {
  text-decoration: underline;
}

.footer-logos {
  margin-top: 10px;
}

.footer-logos img {
  height: 40px;
  margin: 0 10px;
}

